<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BinarySearchTree.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>SortLinkedList.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>deleteTree.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>firstoccurenceofWord.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>graph.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>loweruppercasestring.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>mergeString.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>middleOfLinkedLilst.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>paranthesisBalance.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>privateVirtual.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>pro.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>programmingPractice.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>removeDuplicate.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>small.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>spiralmatrix.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>srytrlrn.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>stringstream.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>twinStrings.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6537136B2163938200C59902</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>653713792163939400C59902</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>653BCB3721E3BCB900626119</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65463DA121E8EB7B0003E7BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65463DAC21E9A8060003E7BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65463DCA21EB7EC40003E7BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65463DE721EE27E10003E7BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6546F3672211C5CE000642D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6546F388221BCDA0000642D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6546F393221C139D000642D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>657BA6C522317A990000D707</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65875C25220552A2004552DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65875C3B22061311004552DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65875C46220617F0004552DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65875C512206219D004552DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6596901B220DF2EF00DB07FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65EE916C22089A94002B4C67</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65EE91A3220941A3002B4C67</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
